<!doctype html>
<html lang=en>
<meta charset="<% settings.charset %>">
<title><% title %></title>
<link rel="stylesheet" href="//<% request.host %>/css/style.css">

<script src="//<% request.host %>/javascripts/jquery.js"></script>

<div id="content">
<% content %>
<form name="Search" action="/search" style="width: 60%;">
<fieldset>
<legend>Search</legend>
<table>
<tr>
<td>File<td><input type="text" name="file" value="<% params.file %>">
<td>Descr<td><input type="text" name="descr" value="<% params.descr %>">
<tr>
<td>Path<td><input type="text" name="path" value="<% params.path %>">
<td>Name<td><input type="text" name="pkgname" value="<% params.pkgname %>">
<tr>
<td>Category<td><input type="text" name="category" value="<% params.category %>">
<td>Maintainer<td><input type="text" name="maintainer" value="<% params.maintainer %>">
<tr>
<td><td><input type="submit" value="Search!">
</table>
</fieldset>
</form>
</div>
<div id="footer">
<a href="/path/databases/ports-readmes-dancer">Ports Readmes</a>, powered by <a href="http://perldancer.org/">Dancer</a> <% dancer_version %>
</div>
