<h1>Index by category</h1> 
(or <a href="packages">Full package list with short description</a>)
<div class="three">
    <ul>
<% FOREACH c IN categories %>
    <li><a href="<% c.url | url %>"><% c.name | html %></a>
<% END %>
    </ul>
</div>
