<h1>Package list with short descriptions</h1>
    <ul>
<% FOREACH p IN packages %>
	<li>
	    <div class="package">
		<a href="<% p.url | url %>"><% p.name | html %></a>
		<span><% p.comment | html %></span>
	    </div>
	</li>
<% END %>
    </ul>
