body {
margin: 0;
padding: 0;
border: 0;
background-color: #ddd;
font-family: sans-serif;
color: #333;
}

#content {
background-color: white;
border: 1em solid #aaa;
padding: 1em;
background-image: url("/images/openbsd-logo.gif");
background-repeat: no-repeat;
background-position: top right;
}

.three ul {
-moz-column-count: 3;
-moz-column-width: 10em;
-webkit-column-count: 3;
-webkit-column-width: 10em;
column-count: 3;
column-width: 10em;
list-style: none;
padding: 0;
}

.smaller ul {
list-style: none;
font-size: 90%;
font-family: monospace;
padding: 0;
}

h1 {
color: #f00;
background-color: #eee;
border-width: 0;
border-bottom: 1px;
border-left: 1px;
padding-left: 0.5em;
padding-bottom: 0.25em;
border-color: #880;
border-style: solid;
width: 40%;
}

h2 {
font-style: oblique;
color: #555;
border-width: 0;
border-bottom: 1px;
padding-bottom: 0.5em;
border-color: #880;
border-style: solid;
}

h3, h3 > a {
margin-left: -5px;
font-style: oblique;
color: #00e;
border-bottom: 0px;
margin-bottom: 0px;
}

.long h1 {
width: 70%;
}

a  {
color: #03c;
}
a:hover {
background-color: #03c;
color: white;
text-decoration: none;
}

#back a {
padding: 0px;
border: 0px;
margin: 0px;
}

#search_form {
background-color: #eee;
margin-top: 1em;
padding: 1em;
display: flex;
flex-direction: column;
}

#search_form div {
display: inline-block;
margin-top: 0.5em;
}

#search_form div > label {
display: inline-block;
width: 5em;
text-align: center;
}

#search_form legend {
font-weight: bold;
font-size: 110%;
}

#search_form button {
display: block;
padding: .1em;
width: 10em;
margin: .5em auto;
font-weight: bold;
}

pre {
white-space: pre-wrap;
}

#test-depends-list, #reverse-depends-list, #files-list {
display: none;
}
