body {
margin: 0;
padding: 0;
border: 0;
background-color: #ddd;
font-family: sans-serif;
color: #333;
}

#toolbar, #content, #footer, #search_form {
background-color: #ffffff;
padding: .5em;
margin: .5em;
}

#toolbar {
text-align: center;
padding: .3em;
}

#toolbar a {
text-decoration:none;
color: inherit;
}

#toolbar span#Open {
color: #0000ff;
font-style: oblique;
}

#toolbar span#BSD {
color: #000084;
}

.three ul {
-moz-column-count: 3;
-moz-column-width: 10em;
-webkit-column-count: 3;
-webkit-column-width: 10em;
column-count: 3;
column-width: 10em;
list-style: none;
padding: 0;
}

.smaller ul {
list-style: none;
font-size: 90%;
font-family: monospace;
padding: 0;
}

#content h1 {
color: #b93704;
padding-bottom: 0.25em;
}

#content h2 {
font-style: oblique;
color: #4177e2;
}

#content h3, h3 > a {
margin-left: 0em;
font-style: oblique;
color: #214da5;
margin-bottom: 0px;
}

.long h1 {
width: 70%;
}

#back a {
padding: 0px;
border: 0px;
margin: 0px;
}

a  {
color: #03c;
}

a:hover {
background-color: #03c;
color: #ffffff;
text-decoration: none;
}

#search_form {
background-color: #fafafa;
margin-top: .5em;
padding: .5em;
display: flex;
flex-direction: column;
}

#search_form div {
display: inline-block;
margin-top: 0.5em;
}

#search_form div > label {
display: inline-block;
width: 5em;
text-align: center;
}

#search_form legend {
font-weight: bold;
font-size: 110%;
}

#search_form button {
display: block;
padding: .1em;
width: 10em;
margin: .5em auto;
font-weight: bold;
}

#footer {
text-align: center;
}

pre {
white-space: pre-wrap;
}

#test-depends-list, #reverse-depends-list, #files-list {
display: none;
}

@media (prefers-color-scheme: dark) {

body {
background-color: #222;
}

#content, #toolbar, #footer {
background-color: #111;
color: #eee;
}

#search_form {
background-color: #111;
color: #eee;
}

#content h3, h3 > a, #content h2 {
color: #f2ca30;
}

a {
color: #bdf;
}

#toolbar span#Open {
color: #f2ca30;
}

#content h1, #toolbar span#BSD {
color: #cf4229;
}

}
